/*  your css code here. If applicable */
.container{
	border:1px solid;
	background-color:lightgray;
	height:100px;
	width:50%;
	border-radius:30px;
/* 	display:flex; */
/* 	align-item:center; */
	justify-content:center;
}

.green{
	height:60px;
	width:60px;
	border-radius:50%;
	background-color:green;
	display:flex;
	align-item:center;
	margin-top:7%;
	margin-left:20%
}

.yellow{
	height:60px;
	width:60px;
	border-radius:50%;
	background-color:yellow;
	display:flex;
	align-item:center;
	margin-top:-18%;
	margin-left:40%;
}

.red{
	height:60px;
	width:60px;
	border-radius:50%;
	background-color:red;
	display:flex;
	align-item:center;
	margin-top:-18%;
	margin-left:60%;
}